<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Дайте денег!</h5>
        <p class="grey-text text-lighten-4">Мы сделаем ещё больше фигни по дате рождения!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Навигация:</h5>
        <div class="nav-content">
          <ul class="tabs-transparent">
            <li class="tab "><a href="#test0">Ввести дату</a></li>
            <li class="tab "><a href="#test1">Знак задиака</a></li>
            <li class="tab "><a href="#test2">Талисман № 1</a></li>
            <li class="tab "><a href="#test3">Талисман № 2</a></li>
            <li class="tab"><a href="#test4">Кармическое число</a></li>
            <li class="tab "><a href="#test11">Вверх</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Спилено Антоном
      <a class="grey-text text-lighten-4 right" href="#!" Что-ещё!</a>
    </div>
  </div>
</footer>
