<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class=" brand-logo left-align"> > Вся фигня по дате рождения! < </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="index.html">На главную</a></li>
      <li><a href="about.html">Про нашу контору</a></li>
      <li><a href="contact.html">Контакты</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="index.html">На главную</a></li>
      <li><a href="about.html">Про нашу контору</a></li>
      <li><a href="contact.html">Контакты</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li><a href="#test0">Ввести дату</a></li>
      <li><a href="#test1">Знак задиака</a></li>
      <li><a href="#test2">Талисман № 1</a></li>
      <li><a href="#test3">Талисман № 2</a></li>
      <li><a href="#test4">Кармическое число</a></li>
      <li><a href="#test5">Вниз</a></li>
    </ul>
  </div>
</nav>
